{% extends "base.html" %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
	<section class="main padding">
		<h1>Your Account</h1>
		<fieldset>
			<legend>Update Email</legend>
			<form method="POST" action="{{ url_for('account') }}">
				{{ update_email.csrf_token }}

				<span>Current Email: {{ current_user.email }}</span>
				{{ update_email.email.label }}
				{{ update_email.email }}

				{{ update_email.password.label }}
				{{ update_email.password }}

				<input type="submit" value="Update Email" />
			</form>
		</fieldset>

		<fieldset>
			<legend>Update Password</legend>
			<form method="POST" action="{{ url_for('account') }}">
				{{ update_password.csrf_token }}

				{{ update_password.current_password.label }}
				{{ update_password.current_password }}

				{{ update_password.new_password.label }}
				{{ update_password.new_password }}

				{{ update_password.confirm_new_password.label }}
				{{ update_password.confirm_new_password }}

				<input type="submit" value="Update Password" />
			</form>
		</fieldset>
	</section>

	<section class="sidebar center">
		<h1>Options</h1>
		<br /><br />
		<a href="{{ url_for('billing') }}" class="button">Billing Information</a>
		<br /><br />
		<a href="{{ url_for('logout') }}" class="button">Logout</a>

		<fieldset>
			<legend>Account Deletion</legend>
			<form method="POST" action="{{ url_for('account') }}">
				{{ delete_account.csrf_token }}

				{{ delete_account.current_password.label }}
				{{ delete_account.current_password }}

				{{ delete_account.confirm_delete.label }}
				{{ delete_account.confirm_delete }}

				<input type="submit" value="Delete Account" />
			</form>
		</fieldset>
	</section>
{% endblock content %}