<!DOCTYPE html>
<html lang="en">
	<head>
		
		<title>{% block title %}{% endblock %} | {{ store_name }}</title>
		<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport" />
		<meta content="#1a1a1a" name="theme-color" />

		<!-- Site CSS -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" />

		<!-- Fonts -->
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,800;1,400&display=swap" rel="stylesheet" />
		<!-- Use CDN: https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/solid.min.js -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/solid.min.css') }}" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fontawesome.min.css') }}" />

		<!-- Site JS -->
		<script src="{{ url_for('static', filename='js/default.js') }}" type="text/javascript"></script>

	</head>
	<body>
	
		<nav>
			<div id="search">
				<form action="{{ url_for('home') }}" method="get">
					<input type="search" id="site_search" name="search_products" placeholder="Search Products..." maxlength="150" />
				</form>
			</div>
			<div id="actions">
				<a href="{{ url_for('home') }}" title="Homepage">
					<i class="fas fa-home"></i>
				</a>
				{% if current_user.is_authenticated %}
				<a href="{{ url_for('account') }}" title="Your Account">
					<i class="fas fa-user-circle"></i>
				</a>
				<a href="{{ url_for('logout') }}" title="Logout">
					<i class="fas fa-sign-out-alt"></i>
				</a>
				{% else %}
				<a href="{{ url_for('login') }}" title="Login">
					<i class="fas fa-sign-in-alt"></i>
				</a>
				{% endif %}
				<a href="{{ url_for('basket') }}" title="Shopping Basket">
					<i class="fas fa-shopping-basket"></i>
				</a>
			</div>
		</nav>

		{% with messages = get_flashed_messages() %}
		  	{% if messages %}
			<div id="alerts" class="neutral">
				<h3>Message from system:</h3>
				<ul>
				{% for message in messages %}
					<li>{{ message }}</li>
				{% endfor %}
				</ul>
				<button id="close_alert">Close</button>
			</div>
		  	{% endif %}
		{% endwith %}
		
		<main>
		{% block content %}
		{% endblock %}
		</main>

		<!-- Run JS code here as to not block page rendering -->
		<script src="{{ url_for('static', filename='js/default.js') }}" type="text/javascript"></script>
	
	</body>
</html>