<!DOCTYPE html>
<html lang="en">
	<head>
		
		<title>{% block title %}{% endblock %}</title>
		<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport" />
		<meta content="#1a1a1a" name="theme-color">
		
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">

		<!-- Webfont -->
		<!-- Use CDN: https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/solid.min.js -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/solid.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fontawesome.min.css') }}">

	</head>
	<body>
	
		<nav>
			<div id="search">
				<input type="search" id="site_search" name="site_search" placeholder="Search Products..." maxlength="150" />
			</div>
			<div id="actions">
				<a href="{{ url_for('home') }}">
					<i class="fas fa-home"></i>
				</a>
				<a href="{{ url_for('account') }}">
					<i class="fas fa-user-circle"></i>
				</a>
				<a href="{{ url_for('basket') }}">
					<i class="fas fa-shopping-basket"></i>
				</a>
			</div>
		</nav>
		
		<main>
		{% block content %}
		{% endblock %}
		</main>
	
	</body>
</html>