{% extends "base.html" %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
	<section class="main padding">
		<h1>Current Basket</h1>
		{% if cart|length > 0 %}
			<ul>
			{% for key, value in cart.items() %}
				<hr>
				<div class="basket_item">
					<div class="image">
						<img src="{{ url_for('static', filename='images/' + value[4]) }}" />
					</div>
					<div class="info">
						<h3>Item Name: {{ value[0] }}</h3>
						<h4>Quantity: {{ value[1] }}</h4>
						<h4>Price: £{{ value[2] }}</h4>
						<h4>Subtotal: £{{ value[3] }}</h4>
					</div>
				</div>
				<a class="small_button button" href="{{ url_for('product', product_id=key) }}">View Product Listing</a>
				<a class="small_button button" href="{{ url_for('basket', delete_item=value[5]) }}">Remove Item</a>
			{% endfor %}
			</ul>
		<hr>
		{% else %}
			<h2>No items in basket</h2>
		{% endif %}
		<form method="POST" action="{{ url_for('basket') }}">
			{{ form.csrf_token }}

			<input type="submit" value="Clear Cart" />
		</form>
	</section>
	<section class="sidebar">
		<fieldset>
			<h2>Total: £{{ totalprice }}</h2>
			<h3>Items: {{ totalitems }}</h3>
			<br />
			<a href="{{ url_for('checkout') }}" class="button">Checkout</a>
		</fieldset>
	</section>
{% endblock content %}
