{% extends "base.html" %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
	<section class="main padding">
		<h1>Current Basket</h1>
		{% if cart|length > 0 %}
			<ul>
			{% for key, value in cart.items() %}
				<hr>
				<h3>Item Name: {{ key }}</h3>
				<h5>Quantity: {{ value[0] }}</h5>
				<h5>Price: £{{ value[1] }}</h5>
				<h5>Subtotal: £{{ value[2] }}</h5>
			{% endfor %}
			</ul>
		<hr>
		<h2>Total: £{{ totalprice }}</h2>
		{% else %}
			<h2>No items in basket</h2>
		{% endif %}
	</section>
	<section class="form">
		<form method="POST" action="{{ url_for('basket') }}">
			{{ form.csrf_token }}

			<input type="submit" value="Clear Cart" />
		</form>
		<br />
		<a href="{{ url_for('checkout') }}" class="button">Checkout</a>
	</section>
{% endblock content %}
