{% extends "base.html" %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
	<section class="main padding">
		<h1>Order History</h1>
		{% if orders|length > 0 %}
			<ul>
			{% for key, value in orders.items() %}
				<hr>
				<h3>Order #{{ value['id'] }} - {{ value['time'] }}</h3>
				<table>
					<thead>
						<tr>
							<th>Product Name</th>
							<th>Product Price</th>
							<th>Quantity</th>
							<th>Total</th>
						</tr>
					</thead>
					<tbody>
						{% for product in value['products'] %}
							<tr>
								<td><a href="{{ url_for('product', product_id=product['id']) }}">{{ product['name'] }}</a></td>
								<td>£{{ product['price'] }}</td>
								<td>{{ product['quantity'] }}</td>
								<td>£{{ product['total'] }}</td>
							</tr>
						{% endfor %}
						<tr>
							<td colspan="4">
								<span class="thick">Total: £{{ value['total'] }}</span>
							</td>
						</tr>
					</tbody>
				</table>
			{% endfor %}
			</ul>
		<hr>
		{% else %}
			<h2>You haven't placed any orders</h2>
		{% endif %}
	</section>
{% endblock content %}