{% extends "base.html" %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
	<section class="main padding">
		<h1>Product page - {{ product.name }}</h1>

		<!-- Put product information here -->
	</section>

	<section class="sidebar">
		<fieldset>
			<legend>Add item to cart</legend>
			<form method="POST" action="{{ url_for('AddCart') }}">
				{{ add_cart.csrf_token }}

				<input type="hidden" name="product_id" value="{{ product.id }}">

				{{ add_cart.quantity.label }}
				{{ add_cart.quantity }}

				<input type="submit" value="Add to cart" />
			</form>
		</fieldset>

		<a class="button" href="{{ url_for('reviews', product_id=product.id) }}">({{ reviews|length }}) Product Reviews</a>
	</section>
{% endblock content %}
