{% extends "base.html" %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
	<section>
		<h1>Product page - {{ product_id }}</h1>

		<a class="button" href="{{ url_for('reviews', product_id=product_id) }}">Reviews</a>
	</section>

	<section class="form">
		<hr>
		<form method="POST" action="{{ url_for('AddCart') }}">
			{{ add_cart.csrf_token }}

		  	<input type="hidden" name="product_id" value="{{ product_id }}">

			{{ add_cart.quantity.label }}
			{{ add_cart.quantity }}

			<input type="submit" value="Add to cart" />
		</form>
	</section>
{% endblock content %}
