{% extends "base.html" %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
	<section>
		<h1>Product page - {{ product_id }}</h1>
	</section>
	<hr>
	<section class="form">
		<form method="POST" action="{{ url_for('AddCart') }}">
		  	<input type="hidden" name="product_id" value="{{ product_id }}">
			<label for="amount">Quantity: </label>
			<input type="number" name="amount">
			<button type="submit" class="button">Add Cart</button>

		</form>

	</section>
{% endblock content %}
